<p style="color: green"><%= notice %></p>

<% content_for :title, "Clientes" %>

<h1>Clientes</h1>

<%= link_to "Novo cliente", new_cliente_path %>

<div id="clientes">
  <% @clientes.each do |cliente| %>
    <%= render cliente %>
    <p>
      <%= link_to "Exibir cliente", cliente %>
    </p>
  <% end %>
</div>
