<div id="<%= dom_id estoque %>">
  <p>
    <strong>Codigo:</strong>
    <%= estoque.codigo %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= estoque.quantidade %>
  </p>

  <div class="ms-4">
    <p>
      <strong>Peça:</strong>
      <%= render estoque.peca %>
    </p>
  </div>

</div>
