<% content_for :title, "Editar estoque" %>

<h1>Editar estoque</h1>

<%= render "form", estoque: @estoque %>

<br>

<div>
  <%= link_to "Exibir estoque", @estoque %> |
  <%= link_to "Voltar para estoques", estoques_path %>
</div>
