<% content_for :title, "Novo estoque" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="d-flex align-items-center mb-4">
        <%= link_to "Voltar ", estoques_path, class: "btn btn-secondary me-3" %>
        <div class="flex-grow-1 text-center">
          <h1>Novo estoque</h1>
        </div>
        <div class="fixed-size-div"></div>
      </div>

      <%= render "form", estoque: @estoque %>
    </div>
  </div>
</div>
