<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bem-vindo!</h1>
<h3>Conta criada, <%= @cliente.nome %></h3>
<p>
  Para acessar, utilize o seu CPF como senha <%= @cliente.cpf %>.
</p></br>
<p>
  Recomendamos que modifique sua senha.
</p>
</body>
</html>
