<% content_for :title, "Editar peça" %>

<h1>Editar peça</h1>

<%= render "form", peca: @peca %>

<br>

<div>
  <%= link_to "Exibir peça", @peca %> |
  <%= link_to "Voltar para peças", pecas_path %>
</div>
