<% content_for :title, "Editing peca" %>

<h1>Editing peca</h1>

<%= render "form", peca: @peca %>

<br>

<div>
  <%= link_to "Show this peca", @peca %> |
  <%= link_to "Back to pecas", pecas_path %>
</div>
