<p style="color: green"><%= notice %></p>

<% content_for :title, "Peças" %>

<h1>Peças</h1>

<%= link_to "Nova peça", new_peca_path %>

<div id="pecas">
  <% @pecas.each do |peca| %>
    <%= render peca %>
    <p>
      <%= link_to "Exibir peça", peca %>
    </p>
  <% end %>
</div>
