<% content_for :title, "Editar servico" %>

<h1>Editar servico</h1>

<%= render "form", servico: @servico %>

<br>

<div>
  <%= link_to "Exibir servico", @servico %> |
  <%= link_to "Voltar para servicos", servicos_path %>
</div>
