<% content_for :title, "Editar administrador" %>

<h1>Editar administrador</h1>

<%= render "form", administrador: @administrador %>

<br>

<div>
  <%= link_to "Exibir administrador", @administrador %> |
  <%= link_to "Voltar para administradores", administradors_path %>
</div>
