<p style="color: green"><%= notice %></p>

<% content_for :title, "Administradores" %>

<h1>Administradores</h1>

<%= link_to "Novo administrador", new_administrador_path %>

<div id="administradors">
  <% @administradors.each do |administrador| %>
    <%= render administrador %>
    <p>
      <%= link_to "Exibir administrador", administrador %>
    </p>
  <% end %>
</div>
