<% content_for :title, "New administrador" %>

<h1>Novo administrador</h1>

<%= render "form", administrador: @administrador %>

<br>

<div>
  <%= link_to "Voltar para administradores", administradors_path %>
</div>
