<% content_for :title, "Editar atendimento" %>

<h1>Editar atendimento</h1>

<%= render "form", atendimento: @atendimento %>

<br>

<div>
  <%= link_to "Exibir atendimento", @atendimento %> |
  <%= link_to "Voltar para atendimentos", atendimentos_path %>
</div>
