<p style="color: green"><%= notice %></p>

<% content_for :title, "Atendimentos" %>

<h1>Atendimentos</h1>

<%= link_to "Novo atendimento", new_atendimento_path %>

<div id="atendimentos">
  <% @atendimentos.each do |atendimento| %>
    <%= render atendimento %>
    <p>
      <%= link_to "Exibir atendimento", atendimento %>
    </p>
  <% end %>
</div>
