<% content_for :title, "Novo atendimento" %>

<h1>Novo atendimento</h1>

<%= render "form", atendimento: @atendimento %>

<br>

<div>
  <%= link_to "Voltar para atendimentos", atendimentos_path %>
</div>
