<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">Gerenciamento de Oficina de Automóveis</h1>
      <h3>Bem-vindo, <%= current_user.cliente.nome %></h3>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <%= link_to "Meus serviços", atendimentos_path, class: "text-decoration-none text-dark" %>
        </li>
      </ul>
    </div>
  </div>
</div>