<% content_for :title, "Editar veiculo" %>

<h1>Editar veiculo</h1>

<%= render "form", veiculo: @veiculo %>

<br>

<div>
  <%= link_to "Exibir veiculo", @veiculo %> |
  <%= link_to "Voltar para veiculos", veiculos_path %>
</div>
