<p style="color: green"><%= notice %></p>

<% content_for :title, "Veículos" %>

<h1>Veículos</h1>

<%= link_to "Novo veículo", new_veiculo_path %>

<div id="veiculos">
  <% @veiculos.each do |veiculo| %>
    <%= render veiculo %>
    <p>
      <%= link_to "Exibir esse veículo", veiculo %>
    </p>
  <% end %>
</div>
