<% content_for :title, "Editar funcion치rio" %>

<h1>Editar funcion치rio</h1>

<%= render "form", funcionario: @funcionario %>

<br>

<div>
  <%= link_to "Exibir funcion치rio", @funcionario %> |
  <%= link_to "Voltar para funcion치rios", funcionarios_path %>
</div>
