<p style="color: green"><%= notice %></p>

<% content_for :title, "Funcion치rios" %>

<h1>Funcion치rios</h1>

<%= link_to "Novo funcion치rio", new_funcionario_path %>

<div id="funcionarios">
  <% @funcionarios.each do |funcionario| %>
    <%= render funcionario %>
    <p>
      <%= link_to "Exibir funcion치rio", funcionario %>
    </p>
  <% end %>
</div>
